.homeDesc, .projHover, .projList {
  line-height: 1.2;
  display:block;
  font-size:42px;
  grid-column: 4 / 11;
  text-align: left;
}

 .Nice2MeetU {
   display:block;
   font-family: swear-text-cilati, serif;
   font-weight: 500;
   font-style: italic;
   font-size:50px;
 }

.homeDesc {
  padding-bottom:6vh;
}


.projHover {
  display:inline;
}

.projList {
  line-height:1.3;
  padding-bottom:5vh;
}

.projTag {
  font-family: swear-text-cilati, serif;
  font-weight: 500;
  letter-spacing: -.2px;
  font-style: italic;
  display:inline;
  font-size:20px;
}

.imgBlockFrame, .imgBlock {
	display:block;
  width:100%;
  height:auto;
  grid-column: 3 / 12;
	margin: 0 auto;
	transition: 1s;
}

.imgBlockFrame {
	background-color: black;
	margin-top: 1px;
	margin-bottom: 1px;
	overflow: hidden;
}

.imgBlock:hover {
	opacity: 0.3;
	-ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}


img {
  width: 100%;
  height: auto;
}

.projHover img {
  display:block;
  opacity:0;
  position:fixed;
  z-index:-100;
  width:30%;  /* CHANGE THIS IN POINTERLOCATION.JS TO CHANGE PICTURE SIZE */
  height:auto;
  transition:.2s;

}

.projHover:hover img, .testText {
  display:block;
  opacity:1;
  transition:.2s;
}


@media (max-width:1500px){
  .homeDesc, .projHover, .projList {
    grid-column: 3 / 8;
    font-size:36px;
  }

  .Nice2MeetU {
    font-size:42px;
  }
}


@media (max-width:1000px){
  .homeDesc, .projHover, .projList {
    grid-column: 1 / 6;
    font-size:32px;
  }

  .Nice2MeetU {
    font-size:38px;
  }

  .homeDesc {
    padding-bottom:3vh;
  }

  .projList {
    line-height:1.4;
    padding-bottom: 1vh;
  }

  .projHover:hover img {
    display:none;
  }
}

@media (max-width:700px){
  .homeDesc, .projHover, .projList {
    grid-column: 1 / 6;
    font-size:26px;
  }

  .Nice2MeetU {
    font-size:30px;
  }

  .homeDesc {
    padding-bottom:3vh;
  }

  .projList {
    line-height:1.4;
    padding-bottom: 1vh;
  }

  .projTag {
    font-size:17px;
  }

  .projHover:hover img {
    display:none;
  }
}
