/*reel*/
.sizzleReel {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  margin:0;
  overflow: hidden;
  background-image: url("https://www.valeriebourdon.com/img/bierecredi/beer8.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient {
  position:absolute;
  width: 100vw;
  height: 100vh;
  margin:0;
  background-color: rgba(0,0,0,0);
  background:linear-gradient(180deg, rgba(31,30,32,0) 80%,  #1f1e20 99%),
             linear-gradient(10deg, rgba(0,0,0,0), rgba(0,0,0,0) 60%,  rgba(31,30,32,.2) 100%),
             linear-gradient(350deg, rgba(0,0,0,0), rgba(0,0,0,0) 60%,  rgba(31,30,32,.2) 100%),
             url("img/noise.svg");
  z-index: 100;
}

/*
iframe {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
*/

/*body*/
.homeDesc, .projHover, .projList {
  line-height: 1.2;
  display:block;
  font-size:42px;
  grid-column: 4 / 11;
  text-align: left;
}

 .Nice2MeetU {
   display:block;
   font-family: swear-text-cilati, serif;
   font-weight: 500;
   font-style: italic;
   font-size:50px;
 }

.homeDesc {
  padding-bottom:6vh;
}


.projHover {
  display:inline;
}

.projList {
  line-height:1.3;
  padding-bottom:5vh;
}

.projTag {
  font-family: swear-text-cilati, serif;
  font-weight: 500;
  letter-spacing: -.2px;
  font-style: italic;
  display:inline;
  font-size:20px;
}

.imgBlockFrame, .imgBlock {
	display:block;
  width:100%;
  height:auto;
  grid-column: 3 / 12;
	margin: 0 auto;
	transition: 1s;
}

.imgBlockFrame {
	background-color: black;
	margin-top: 1px;
	margin-bottom: 1px;
	overflow: hidden;
}

.imgBlock:hover {
	opacity: 0.3;
	-ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}


img {
  width: 100%;
  height: auto;
}

.projHover img {
  display:block;
  opacity:0;
  position:fixed;
  z-index:-100;
  width:30%;  /* CHANGE THIS IN POINTERLOCATION.JS TO CHANGE PICTURE SIZE */
  height:auto;
  transition:.2s;

}

.projHover:hover img, .testText {
  display:block;
  opacity:1;
  transition:.2s;
}

.notesDesc {
  padding-top:2vh;
  line-height:1.2;
  font-size: 25px;
}

/* TEST */
.parent {
  width: A px;
  height: B px;
  overflow: hidden;
}

.child {
 width: 100%; 
 height: (greater_than_B) px;
 overflow-x: auto;
}
/*END TEST*/

@media (max-width:1500px){
  .homeDesc, .projHover, .projList {
    grid-column: 3 / 8;
    font-size:36px;
  }

  .Nice2MeetU {
    font-size:42px;
  }

  .notesDesc {
    font-size: 20px;
  }
}


@media (max-width:1000px){
  .homeDesc, .projHover, .projList {
    grid-column: 1 / 6;
    font-size:32px;
  }

  .Nice2MeetU {
    font-size:38px;
  }

  .homeDesc {
    padding-bottom:3vh;
  }

  .projList {
    line-height:1.4;
    padding-bottom: 1vh;
  }

  .projHover:hover img {
    display:none;
  }

  .notesDesc {
    font-size: 16px;
  }
}

@media (max-width:700px){
  .homeDesc, .projHover, .projList {
    grid-column: 1 / 6;
    font-size:24px;
  }

  .Nice2MeetU {
    font-size:30px;
  }

  .homeDesc {
    padding-bottom:4vh;
  }

  .projList {
    line-height:1.4;
    padding-bottom: 1.5vh;
  }

  .projTag {
    font-size:18px;
  }

  .projHover:hover img {
    display:none;
  }
}
