html{
  scroll-behavior: smooth;
}

body, button {
  background: #1f1e20; /*e6e6e6*/
  color:#f0f0f5; /*252728*/
  margin:0;
  padding:0;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0px;
  font-size:14px;
  line-height:1.3;
}

.menu {
  color:white; /*252728*/
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: .15px;
}

button {
  border: none;
  padding: 0;
  background: none;
  transition: .25s;
}

button:hover {
  transition: 1s;
  color:#BABABA;
  transition: .25s;
}

div.hidden {
    display: none;
}

.masterContainer {
  /*display:inline-block;*/
  position:relative;
	margin:0 auto;
  margin-top:5.5vh;
}

.masterGrid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  /*grid-gap: 10px;*/
}

/* LINKS / SELECTIONS */
a {
  color:#f0f0f5;
  text-decoration: none;
  transition: .25s;
}

a:hover {
  color:#cfff4d;
  transition: .25s;

}

::selection {
  background-color:#cfff4d;
  color:#5d8000;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0px;
  height: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.fullscreenFrame {
	height: 82vh;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

.fullscreenPic {
	position: relative;
	display: block;
	height: 100%;
	width: auto;
	margin: 0 auto;
	padding: 0;
}


@media (max-width:1500px){
  .masterGrid {
    grid-template-columns: repeat(9, 1fr);
		margin: 0;
		padding: 0;
  }
}


@media (max-width:1000px){
  body {
    font-size:13px;
  }

  .masterGrid {
    grid-template-columns: repeat(5, 1fr);
  }

  .masterContainer {
    display:inline-block;
    position:relative;
    margin-top:8vh;
    margin-left:6vw;
    margin-right:6vw;
  }

	.fullscreenFrame {
		height: auto;
		width: 100%;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		background-color: black;
	}

	.fullscreenPic {
		position: relative;
		display: block;
		height: auto;
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
}


@media (max-width:700px){
  body {
    font-size:12px;
  }

  .masterGrid {
    grid-template-columns: repeat(5, 1fr);
  }

  .masterContainer {
    display:inline-block;
    position:relative;
    margin-top:8vh;
    margin-left:6vw;
    margin-right:6vw;
  }

	.fullscreenFrame {
		height: auto;
		width: 100%;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		background-color: black;
	}

	.fullscreenPic {
		position: relative;
		display: block;
		height: auto;
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
}
