@font-face{
	font-family: 'HKGrotesk-Regular';
	src: url('HKGrotesk-Regular.eot');
	src: url('HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
	     url('HKGrotesk-Regular.woff') format('woff'),
	     url('HKGrotesk-Regular.ttf') format('truetype'),
	     url('HKGrotesk-Regular.svg#webfont') format('svg');
}

html{
  scroll-behavior: smooth;
}

body {
  background: #F7F7FA;
  color:#464650;
  margin:0;
  padding:0;
  font-family: 'WebFont', 'HKGrotesk-Regular', sans-serif;
  font-weight: Regular;
  font-size:13px;
  line-height:1.2;
  letter-spacing: 1;
}

div.hidden {
    display: none;
}

.masterContainer {
  display:inline-block;
  position:relative;
  margin:0 auto;
  margin-top:5.5vh;
}

.masterGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
}

/* LINKS / SELECTIONS */
a {
  color:#464650;
  text-decoration:none;
  transition: .25s;
}

a:hover {
  color:#ccc;
  transition: .25s;
}

::selection {
  background-color:#464650;
  color:#F7F7FA;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0px;
  height: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}


@media (max-width:1000px){
  body {
    font-size:12px;
    line-height: 1.3;
  }
  .masterGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width:740px){
  body {
    font-size:11px;
    line-height: 1.3;
  }

  .masterGrid {
    grid-template-columns: repeat(5, 1fr);
  }

  .masterContainer {
    display:inline-block;
    position:relative;
    margin-top:8vh;
    margin-left:6vw;
    margin-right:6vw;
  }
}
