.projDesc, .nextProject, .procDesc {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0px;
  font-size:42px;
}

.notesName, .projHover, .projList {
  font-family: swear-text-cilati, serif;
  font-weight: 500;
  letter-spacing: -.2px;
  font-style: italic;
  display:inline;
  font-size:20px;
}

.projDesc, .nextProject, .img, .procDesc {
  display:block;
  width:100%;
  height:auto;
  grid-column: 4 / 11;
  text-align:left;
}

.procDesc {
  padding-bottom:3vh;
}

.projHover, .projList {
  font-size:42px;
  grid-column: 4 / 11;
  padding-bottom:6vh;
}

.notesName {
  grid-column: 4 / 4;
  padding-bottom: 6vh;
}

.notesName, .notesDesc {
  padding-top:2vh;
}

.notesDesc {
  font-size: 25px;
  line-height: 1.3;
  grid-column: 5 / 10;
  padding-bottom:4vh;
}

.buffer {
  grid-column: 4 / 11;
  padding-bottom:6vh;
}

.nextProject {
  padding-top:6vh;
  padding-bottom:6vh;
}

 .img, img {
   padding: 0;
   margin: 0;
   padding-top: 0;
   padding-bottom: 4px;
 }

 .imgSmallL {
   display: block;
   width: 100%;
   grid-column: 3 / 8;
   padding: 0;
   margin: 0;
   padding-top: 1px;
   padding-bottom: 60px;
 }
 .imgSmallR {
   display: block;
   width: 100%;
   grid-column: 7 / 11;
   padding: 0;
   margin: 0;
   padding-top: 1px;
   padding-bottom: 60px;
 }

 a {
   text-decoration: underline;
   text-decoration-style: wavy;
   text-underline-offset: 5px;
   text-decoration-thickness: .4px;
 }


 @media (max-width:1500px){
   .projDesc, .nextProject, .img, .procDesc {
     font-size: 32px;
     line-height: 1.2;
   }

   .projDesc, .nextProject, .img, .procDesc {
     grid-column: 3 / 8;
   }

   .notesName {
     grid-column: 3 / 3;
     padding-top: 0vh;
     padding-bottom: 0vh;
   }

   .notesDesc {
     font-size: 20px;
     line-height: 1.4;
     grid-column: 4 / 8;
     padding-top: 0vh;
     padding-bottom: 4vh;
   }

   .buffer {
     grid-column: 3 / 8;
     padding-bottom:8vh;
   }

   .projHover, .projList {
     font-size: 32px;
     grid-column: 3 / 8;
   }

  .imgSmallL, .imgSmallR {
    grid-column: 3 / 8;
    padding: 0;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
  }
 }

 @media (max-width:1000px){
   .projDesc, .nextProject, .img, .procDesc {
     font-size:32px;
   }

   .projHover, .projList  {
     font-size:32px;
   }

   .notesDesc {
     font-size:14px;
     line-height:1.4;
   }

   .notesName {
     visibility: hidden;
   }

   .projDesc, .nextProject, .img, .procDesc {
     grid-column: 1 / 6;
   }

   .projHover, .projList {
     grid-column: 1 / 6;
     padding-top:6px;
     padding-bottom:4vh;
   }

   .notesName {
     grid-column: 1 / 6;
   }

   .notesDesc {
     grid-column: 1 / 6;
     padding-bottom:1vh;
   }

    .buffer {
      grid-column: 1 / 6;
      padding-bottom:8vh;
    }


   .nextProject {
     padding-top:4vh;
     padding-bottom:2vh;
   }

   .imgSmallL, .imgSmallR {
     grid-column: 1 / 6;
     padding: 0;
     margin: 0;
     padding-top: 1px;
     padding-bottom: 1px;
   }
 }
