.projDesc, .nextProject, .procDesc {
  font-size:31px;
}

.notesName, .projHover, .projList {
  font-size:12px;
  line-height:1.5;
  font-weight: 300;
}

.projDesc, .nextProject, .img, .procDesc {
  display:block;
  width:100%;
  height:auto;
  grid-column: 3 / 12;
  text-align:left;
}

.procDesc {
  padding-bottom:3vh;
}

.projHover, .projList {
  grid-column: 3 / 12;
  /*font-family: 'WebFont', 'HKGrotesk-Regular', sans-serif;
  font-weight: 300;*/
  font-family: gopher, sans-serif;
  font-weight: 400;
  letter-spacing:.1px;
  padding-top:12px;
  padding-bottom:7vh;
}

.notesName {
  grid-column: 3 / 3;
  /*font-family: 'WebFont', 'HKGrotesk-Regular', sans-serif;
  font-weight: 300;*/
  font-family: gopher, sans-serif;
  font-weight: 400;
  letter-spacing:.1px;
  padding-bottom: 6vh;
}

.notesName, .notesDesc {
  padding-top:2vh;
}

.notesDesc {
  font-size: 17px;
  line-height: 1.4;
  grid-column: 4 / 11;
  padding-bottom:4vh;
  letter-spacing:-.05px;
}

.buffer {
  grid-column: 3 / 12;
  padding-bottom:12vh;
}

.nextProject {
  padding-top:6vh;
  padding-bottom:6vh;
}

 .img, img {
   padding: 0;
   margin: 0;
   padding-top: 1px;
   padding-bottom: 1px;
 }

 .imgSmallL {
   display: block;
   width: 100%;
   grid-column: 3 / 8;
   padding: 0;
   margin: 0;
   padding-top: 1px;
   padding-bottom: 60px;
 }
 .imgSmallR {
   display: block;
   width: 100%;
   grid-column: 7 / 11;
   padding: 0;
   margin: 0;
   padding-top: 1px;
   padding-bottom: 60px;
 }

 a {
   text-decoration:underline;
 }


 @media (max-width:1000px){
   .projDesc, .nextProject, .img, .procDesc {
     font-size: 25px;
   }

   .projDesc, .nextProject, .img, .procDesc {
     grid-column: 3 / 8;
   }

   .notesName {
     grid-column: 3 / 3;
     padding-top: 0vh;
     padding-bottom: 0vh;
   }

   .notesDesc {
     font-size: 16px;
     grid-column: 4 / 8;
     padding-top: 0vh;
     padding-bottom: 4vh;
   }

   .buffer {
     grid-column: 3 / 8;
     padding-bottom:8vh;
   }

   .projHover, .projList {
     grid-column: 3 / 8;
   }

  .imgSmallL, .imgSmallR {
    grid-column: 3 / 8;
    padding: 0;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
  }
 }

 @media (max-width:740px){
   .projDesc, .nextProject, .img, .procDesc {
     font-size:20px;
   }

   .projHover, .projList  {
     font-size:11px;
     line-height:1.5;
   }

   .notesDesc {
     font-size:14px;
     line-height:1.5;
   }

   .notesName {
     visibility: hidden;
   }

   .projDesc, .nextProject, .img, .procDesc {
     grid-column: 1 / 6;
   }

   .projHover, .projList {
     grid-column: 1 / 6;
     padding-top:6px;
     padding-bottom:4vh;
   }

   .notesName {
     font-weight: 600;
     grid-column: 1 / 6;
   }

   .notesDesc {
     grid-column: 1 / 6;
     padding-bottom:1vh;
   }

    .buffer {
      grid-column: 1 / 6;
      padding-bottom:8vh;
    }


   .nextProject {
     padding-top:4vh;
     padding-bottom:2vh;
   }

   .imgSmallL, .imgSmallR {
     grid-column: 1 / 6;
     padding: 0;
     margin: 0;
     padding-top: 1px;
     padding-bottom: 1px;
   }
 }
